.vscode/*
.idea/*
.gitignore
debug.inc
.htaccess
/test/.htaccess
release.txt
*.Identifier

drawshield-code.code-workspace
ds-code.code-workspace

/tests/responses/
/tests/results.txt
*.swp
*.swo

svg/charges/custom
