.vscode/*
.idea/*
debug.inc
.htaccess
/test/.htaccess
release.txt
*.Identifier

drawshield-code.code-workspace
ds-code.code-workspace

/tests/responses/
/tests/results.txt
*.swp
*.swo
php.tags

svg/charges/custom
py/venv/

*.dat
._*

release.txt
date.txt

